* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 20px;
}

.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.content {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 20px;
    margin-top: 20px;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
}

.content table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.content table th,
.content table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.content table th {
    background-color: #f2f2f2;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 20px;
}