<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> student Result </h1>
    <p> Maths : {{Maths}} </p>
    <p> Science : {{Science}} </p>
    <p> English : {{English}} </p>
    <p> Total : {{Total}} </p>
    <p> Percentage : {{Percentage}} </p>
    <p style="color:green;">Result : {{Result}} </p> 
    <p style="color:blue;">Grade : {{grade}} </p>   
</body>
</html>